<div class="container">
    <div class="search-bar">
        <input
            type="text"
            placeholder="Поиск прибора в Botanique по номеру, названию, подразделению и др."
        />
        <button class="qr-code-button">
            <img src="/static/qr-code-icon.svg" alt="QR Code" />
        </button>
    </div>
    <div class="favorite-devices-header">
        <img src="/static/favorite.svg" alt="favorite"/>
        <h2>
            Любимые приборы
        </h2>
    </div>
    <table class="favorite-devices">
        <thead>
            <tr>
                <th></th>
                <th>Название</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
